* body {
  margin: 0;
}
::-webkit-scrollbar {
    background: transparent;
    height: 12px;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background: #757575;
}
::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}