* body {
  margin: 0;
}
::-webkit-scrollbar {
    background: transparent;
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background: #757575;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}